<h1>Delete</h1>
<div class="well text-center">
  <% if result.cmd_tuples > 0 %>
  <p><% result.cmd_status %></p>
  <p>User Deleted!</p>
  <% else %>
  <p>User not found!</p>
  <% end %>
  <p><a class="btn-sm" href="/">Back</a></p>
</div>
